[workspace]
members = [
    "crates/example",
    "crates/example-debugging",
    "crates/example-wasm",
    "crates/loading-bytes",
    "crates/renderling",
    "crates/renderling-shader",
    "crates/renderling-gpui",
    "crates/renderling-derive",
    "crates/sandbox",
]

exclude = ["./shaders"]

resolver = "2"

[workspace.dependencies]
bytemuck = { version = "1.13.0", features = ["derive"] }
futures-lite = "^1.13"
gltf = { git = 'https://github.com/gltf-rs/gltf.git', features = ["KHR_lights_punctual", "KHR_materials_unlit", "KHR_materials_emissive_strength", "extras"] }
image = "^0.24"
log = "^0.4"
glam = "^0.24"
winit = { version = "^0.27" }
wgpu = { version = "^0.17" }
