[workspace]
members = [
    #"crates/example",
    #"crates/example-wasm",
    "crates/loading-bytes",
    "crates/renderling",
    "crates/renderling-shader-core",
    "crates/renderling-shader-pbr",
    "crates/renderling-shader-sdf",
    "crates/renderling-shader",
    #"crates/renderling-gpui",
]

exclude = ["./shaders"]

resolver = "2"

[workspace.dependencies]
async-channel = "1.8"
bytemuck = { version = "1.13.0", features = ["derive"] }
crabslab = { version = "0.2.1", default-features = false }
env_logger = "0.10.0"
futures-lite = "1.13"
gltf = { git = 'https://github.com/gltf-rs/gltf.git', features = ["KHR_lights_punctual", "KHR_materials_unlit", "KHR_materials_emissive_strength", "extras"] }
image = "0.24"
log = "0.4"
glam = { version = "0.24.2", default-features = false }
snafu = "0.7"
winit = { version = "0.27" }
wgpu = { version = "0.18" }
