[workspace]
members = [
    "crates/example",
    "crates/example-wasm",
    "crates/loading-bytes",
    "crates/renderling",
    "crates/sandbox"
]

exclude = ["./shaders"]

resolver = "2"

[workspace.dependencies]
assert_approx_eq = "1.1.0"
async-channel = "1.8"
bytemuck = { version = "1.13.0", features = ["derive"] }
crabslab = { path = "../crabslab/crates/crabslab", version = "0.4.6", default-features = false }
dagga = "0.2.1"
env_logger = "0.10.0"
futures-lite = "1.13"
gltf = { git = 'https://github.com/schell/gltf.git', branch ="feature/channel-sampler-index", features = ["KHR_lights_punctual", "KHR_materials_unlit", "KHR_materials_emissive_strength", "extras", "extensions"] }
image = "0.24"
log = "0.4"
naga = { version = "0.19", features = ["spv-in", "wgsl-out", "wgsl-in", "msl-out"] }
pretty_assertions = "1.4.0"
proc-macro2 = { version = "1.0", features = ["span-locations"] }
glam = { version = "0.24.2", default-features = false }
serde_json = "1.0.117"
snafu = "0.7"
syn = { version = "2.0.49", features = ["full", "extra-traits", "parsing"] }
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
web-sys = "0.3"
winit = { version = "0.29" }
wgpu = { version = "0.19" }
